<div class="container-fluid">
<div class="text-center">
	<%= image_tag("logo")%>
	<h1 class="title">PET STORE &amp; MORE</h1>
</div>

	<div class="jumbotron">
	</div>
</div>

<div class="container">

</div>
